body{
	background-image: url(images/bg.png);
}
#wrapper{
border: 10px white solid;
margin-left: 10%;
margin-right: 10%;
margin-top: 10px;
margin-bottom: 10px;
background-color: #fff;
}
#header{
	background-color:  #A8F0F0 ;
	text-align: right;
}
#header h2{
	font-size: 14pt;
}
.article{
border: 4px #C2E9E9  solid;
margin-top: 10px;
background-color: #E8FBFB;
overflow: hidden;
padding: 5px;
margin-left: 180PX;
}
span {
	
	border-bottom: 2px blue dashed;
}
image{
	float: right;
}
#sidebar{
	float: left;
	width: 150px;
	border: 5px #009097 solid;
	padding: 5px;
	background-color: #99E0E0;
	margin-right: 10PX;
	margin-top: 10PX;
}
body *:hover{
	background-color: yellow;
}